.container {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

html,
body {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

.form-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

body.dark .form-container {
  background-color: #1f1f1f;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.form-field {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

body.dark label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #000000;
  transition: border-color 0.3s, box-shadow 0.3s;
}

body.dark input,
body.dark textarea {
  background-color: #2c2c2c;
  color: #fff;
  border-color: #444;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  opacity: 0;
  animation: fadeInOut 5s forwards;
}

.toast.success {
  background-color: #28a745;
  color: #fff;
}

.toast.error {
  background-color: #dc3545;
  color: #fff;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.navbar {
  background-color: rgba(65, 65, 65, 0.943);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  width: calc(100% - 40px);
  transition: all 0.3s ease;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 0 10px;

      a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 8px 12px;
        text-decoration: none;
        font-size: 14px;
        border-radius: 5px;
        transition: all 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          color: #f0f0f0;
        }
      }

      .theme-toggle {
        background-color: transparent;
        color: white;
        padding: 8px 12px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          border-color: white;
          color: white;
        }
      }
    }
  }

  body.dark & {
    background-color: rgba(46, 35, 35, 0.8);

    ul li a {
      color: #ccc;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
      }
    }

    .theme-toggle {
      background-color: rgba(0, 0, 85, 0.5);
      color: #ccc;
      border-color: rgba(255, 255, 255, 0.3);

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
      }
    }
  }
}

.title {
  font-family: 'Times New Roman', Times, serif;
  margin-block-end: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #000000;
}

body.dark .title {
  font-family: 'Times New Roman', Times, serif;
  margin-block-end: 1rem;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

.subtitle {
  font-family: Arial, sans-serif;
  margin-block-end: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}

.warning {
  background-color: red;
  color: white;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.logo-container {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 30px;
  animation: pulse 2s infinite ease-in-out;
}

.saed-logo {
  width: 20%;
  height: 20%;
  transition: transform 0.3s ease-in-out;
}

.saed-logo:hover {
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
